<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:form id="infoForm">

			<p:tabMenu>
				<p:menuitem value="Main page" actionListener="#{couponController.cancel}" action="main.xhtml"></p:menuitem>
			</p:tabMenu>

			<p:commandButton value="Add item"
				actionListener="#{itemController.create()}" update="@form"
				oncomplete="PF('addItem').show();"></p:commandButton>

			<p:layout>
				<p:layoutUnit position="west" resizable="true" size="300">

					<p:panelGrid>
						<h4>Coupon Info:</h4>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Coupon Number: "></h:outputLabel>
						<h:outputText value="#{couponModel.currentCoupon.id}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Seller: "></h:outputLabel>
						<h:outputText value="#{couponModel.currentCoupon.seller}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Buyer: "></h:outputLabel>
						<h:outputText value="#{couponModel.currentCoupon.buyer}"></h:outputText>
					</p:panelGrid>
					
					<p:panelGrid>
						<h:outputLabel value="Date: "></h:outputLabel>
						<h:outputText value="#{couponModel.currentCoupon.date}"></h:outputText>
					</p:panelGrid>
					
					<p:panelGrid>
						<h:outputLabel value="Total Price LT: "></h:outputLabel>
						<h:outputText value="#{couponModel.currentCoupon.getTotalPriceLT()}">
							<f:convertNumber maxFractionDigits="2"></f:convertNumber>
						</h:outputText>
					</p:panelGrid>
					
					<p:panelGrid>
						<h:outputLabel value="Total Price EUR: "></h:outputLabel>
						<h:outputText value="#{couponModel.currentCoupon.getTotalPriceEur()}">
							<f:convertNumber maxFractionDigits="2"></f:convertNumber>
						</h:outputText>
					</p:panelGrid>
					
				</p:layoutUnit>

				<p:layoutUnit position="center">

					<p:panelGrid columns="8">
						<p:dataTable var="item"
							value="#{itemController.findCouponItems(couponModel.currentCoupon.id)}">

							<p:column headerText="ID">
								<h:outputText value="#{item.id}"></h:outputText>
							</p:column>

							<p:column headerText="Title">
								<h:outputText value="#{item.title}"></h:outputText>
							</p:column>
							
							<p:column headerText="Quantity">
								<h:outputText value="#{item.quantity}"></h:outputText>
							</p:column>
							
							<p:column headerText="qty price LT">
								<h:outputText value="#{item.price}"></h:outputText>
							</p:column>
							
							<p:column headerText="Units">
								<h:outputText value="#{item.units}"></h:outputText>
							</p:column>
							
							<p:column headerText="Total price LT">
								<h:outputText value="#{item.getPriceLT()}">
									<f:convertNumber maxFractionDigits="2"></f:convertNumber>
								</h:outputText>
							</p:column>
							
							<p:column headerText="Total price EUR">
								<h:outputText value="#{item.getPriceEur()}">
									<f:convertNumber maxFractionDigits="2"></f:convertNumber>
								</h:outputText>
							</p:column>

							<p:column headerText="Actions">
								<p:commandButton icon="ui-icon-trash"
									actionListener="#{itemController.delete(item)}" update="@form infoForm">
									<p:confirm header="Remove item for selected coupon?"
										message="Are you sure you want to remove item for selected coupon?"></p:confirm>
								</p:commandButton>
								
								<p:commandButton icon="ui-icon-gear" actionListener="#{itemModel.setCurrentItem(item)}" 
								update="editItemForm" oncomplete="PF('editItem').show();"></p:commandButton>
		
							</p:column>

						</p:dataTable>
					</p:panelGrid>

				</p:layoutUnit>
			</p:layout>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</h:form>

		<ui:include src="addItem.xhtml"></ui:include>
		<ui:include src="editItem.xhtml"></ui:include>

	</ui:define>
</ui:composition>