<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<p:dialog header="Edit item" widgetVar="editItem">
		<h:form id="editItemForm">
			<h:panelGrid>
				<h:outputText value="Title" />
				<p:inputText id="title" value="#{itemController.itemModel.currentItem.title}" required="true"/>
				<p:message for="title"></p:message>
				
				<h:outputText value="Quantity" />
				<p:inputText id="qty" value="#{itemController.itemModel.currentItem.quantity}" required="true"/>
				<p:message for="qty"></p:message>
				
				<h:outputText value="qty price" />
				<p:inputText id="price" value="#{itemController.itemModel.currentItem.price}" required="true"/>
				<p:message for="price"></p:message>
				
				<h:outputText value="Units" />
				<p:inputText id="units" value="#{itemController.itemModel.currentItem.units}"/>
				<p:message for="units"></p:message>
				
			</h:panelGrid>
			<p:commandButton value="Update" update="@form infoForm" action="#{itemController.save}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('editItem').hide();"></p:commandButton>
			<p:commandButton value="Cancel" action="#{itemController.cancel}" immediate="true" oncomplete="PF('editItem').hide();"></p:commandButton>
		</h:form>
	</p:dialog>
	
</ui:composition>