<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<p:dialog header="Edit Coupon" widgetVar="editCoupon">
		<h:form id="editCouponForm">
			<h:panelGrid>
				<h:outputText value="Seller" />
				<p:inputText id="seller" value="#{couponController.couponModel.currentCoupon.seller}" required="true"/>
				<p:message for="seller"></p:message>
				
				<h:outputText value="Buyer"/>
				<p:inputText id="buyer" value="#{couponController.couponModel.currentCoupon.buyer}" required="true"/>
				<p:message for="buyer"></p:message>
				
			</h:panelGrid>
			<p:commandButton value="Update" update="@form mainForm" action="#{couponController.save}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('editCoupon').hide();"></p:commandButton>
			<p:commandButton value="Cancel" action="#{couponController.cancel}" immediate="true" oncomplete="PF('editCoupon').hide();"></p:commandButton>
		</h:form>
	</p:dialog>
	
</ui:composition>