<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:form id="mainForm">
		
			<p:commandButton value="Add New Coupon"
				actionListener="#{couponController.create()}" update="@form"
				oncomplete="PF('addCoupon').show();"></p:commandButton>

			<p:dataTable var="coupon" value="#{couponController.findCoupons()}">

				<p:column headerText="Number">
					<h:commandLink
						actionListener="#{couponController.overview(coupon)}"
						action="couponInfo.xhtml" value="#{coupon.id}"></h:commandLink>
				</p:column>

				<p:column headerText="Seller">
					<h:outputText value="#{coupon.seller}"></h:outputText>
				</p:column>

				<p:column headerText="Buyer">
					<h:outputText value="#{coupon.buyer}"></h:outputText>
				</p:column>

				<p:column headerText="Date">
					<h:outputText value="#{coupon.date}"></h:outputText>
				</p:column>

				<p:column headerText="Actions">

					<p:commandButton icon="ui-icon-trash"
						actionListener="#{couponController.delete(coupon)}"
						update="@form mainForm">
						<p:confirm header="Remove coupon and all his items?"
							message="Are you sure you want to remove coupon and all his items?"></p:confirm>
					</p:commandButton>

					<p:commandButton icon="ui-icon-gear"
						actionListener="#{couponModel.setCurrentCoupon(coupon)}"
						update="editCouponForm" oncomplete="PF('editCoupon').show();"></p:commandButton>
				</p:column>

			</p:dataTable>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</h:form>
		
		<ui:include src="addCoupon.xhtml"></ui:include>
		<ui:include src="editCoupon.xhtml"></ui:include>

	</ui:define>
</ui:composition>